// src/styles/utilities/_grid.scss

@use '../abstracts/variables' as var;

/* Grid utilitário */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 var.$spacing-sm;
}
.hero-section{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var.$spacing-md var.$spacing-lg;
  text-align: center;
}
.fullscreen-section {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: var.$spacing-md var.$spacing-lg;
  text-align: center;
}
.mid-section{
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  padding: var.$spacing-md var.$spacing-lg;
  text-align: center;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -(var.$spacing-sm);
  margin-right: -(var.$spacing-sm);
}

.col {
  padding-left: var.$spacing-sm;
  padding-right: var.$spacing-sm;
  flex: 1 1 0;
}