@use '../abstracts/mixins';
@use '../abstracts/variables' as var;

/* Header básico */
.header {
  background-color: transparent;
  color: var.$color-text-light;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  @include mixins.flex-space-between;
  align-items: center;

  .nav-logo {
    font-size: var.$font-size-nav-logo;
    font-weight: bold;
    margin-right: auto;

    img {
      height: 25px;
      display: block;
      @media (max-width: 768px) {
        height: 20px;
      }
    }
    
  }
}

