// src/styles/components/_header.scss

@use '../abstracts/mixins';
@use '../abstracts/variables' as var;

/* Header básico */
.header {
  background-color: var.$color-background-dark;
  padding: var.$spacing-sm var.$spacing-lg;
  color: var.$color-text-light;

  @include mixins.flex-space-between;
  align-items: center; // Garante alinhamento vertical
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-logo img{
    height: 25px;
    display: block;
  }

  .menu {
    display: flex;
    gap: var.$spacing-md;
  }
  .nav-logo {
      font-size: var.$font-size-nav-logo;
      font-weight: bold;
    }

  .nav-links {
    display: flex;
    gap: var.$spacing-md;

    a {
      color: var.$color-text-light;
      text-decoration: none;

      &:hover {
        color: var.$color-accent;
      }
    }
  }
}