// src/styles/components/_carousel.scss

@use '../abstracts/mixins';

.carousel-dev,
.carousel-projetos {
  display: flex;

  @include mixins.respond-to(md) {
    flex-wrap: nowrap;
    @include mixins.scroll-snap-x;
  }

  // Desktop (acima de 768px)
  @media (min-width: 769px) {
    flex-wrap: wrap;
    overflow-x: visible;
  }

  > * {
    @include mixins.respond-to(md) {
      @include mixins.scroll-snap-item;
    }
  }
}