@use '../abstracts/mixins';
@use '../abstracts/variables' as var;

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: transparent;
  transition: background 0.3s;
  @include mixins.responsive-padding(1.5rem 5rem, var.$spacing-nav-mobile 2rem);

  .header.scrolled & {
    background-color: var.$color-background-dark;
  }
}

.nav-links {
  display: flex;
  gap: var.$spacing-md;
  margin-right: var.$spacing-md;

  a {
    color: var.$color-text-light;
    text-decoration: none;

    &:hover {
      color: var.$color-accent;
    }
  }
}

.hamburger {
  display: none;
  font-size: var.$font-size-hamburger;
  cursor: pointer;
}

// Responsividade para mobile
@media (max-width: 950px) {
  .nav-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var.$color-background-dark;
    padding: var.$spacing-md;
    z-index: 999;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s, visibility 0.3s;

    &.active {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
  }
  .hamburger {
    display: block;
    margin-left: auto;
  }
  .nav-logo {
    margin-right: auto;
  }
}