// 🎨 Cores
$color-background-dark: #111;
$color-background-primary: #222;
$color-text-light: #fff;
$color-text-dark: #000;
$color-accent: #e4ce02; // Cor de destaque

// 🖋️ Tipografia
$font-family-base: 'Saira', sans-serif;
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-md: 1.25rem;
$font-size-nav-logo: 1.5rem;
$font-size-hamburger: 2rem;
$font-size-lg: 2rem;
$font-size-xl: 2.5rem;
$font-size-xxl: 3rem;

// 📐 Espaçamentos
$spacing-xs: 0.5rem;
$spacing-sm: 1rem;
$spacing-md: 2rem;
$spacing-lg: 5rem;

// 🧱 Bordas
$border-radius-sm: 6px;

// 📱 Breakpoints
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;