// src/styles/pages/_about.scss

@use '../abstracts/variables' as var;

/* Página About */
.about {
  padding: var.$spacing-md var.$spacing-lg;

  h1 {
    font-size: var.$font-size-xl;
    margin-bottom: var.$spacing-sm;
  }

  p {
    font-size: var.$font-size-base;
    line-height: 1.6;
    color: var.$color-text-light;
  }
}