// src/styles/pages/_home.scss

@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../components/button'; // para usar `.button` com @extend

/* Página Home */
.home {
  .carousel-dev,
  .carousel-projetos {
    margin-bottom: var.$spacing-md;
  }

  .ilustracao-container {
    display: flex;
    flex-direction: row;
    gap: var.$spacing-sm;

    @include mixins.respond-to(md) {
      flex-direction: column;
      align-items: stretch;
    }
  }

  .gallery-trigger {
    @extend .button;
  }
}