// src/styles/pages/_home.scss

@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../components/button'; // para usar `.button` com @extend

// Hero Section
.hero-section {
      background-image: url('../../img/back.png');
      background-size: cover;       /* cobre toda a área */
      background-position: center;  /* centraliza a imagem */
      background-repeat: no-repeat; /* evita repetição */
}