// src/styles/base/_reset.scss

@use '../abstracts/variables';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font-family-base;
  background-color: variables.$color-background-dark;
  color: variables.$color-text-light;
}