// src/styles/base/_typography.scss

@use '../abstracts/variables';

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: variables.$color-text-light;
}

p {
  font-size: variables.$font-size-base;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}